# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.lst

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Info files
*.bsc
*.pdb
*.ipdb

# Output files
*.log
*.tlog
*.lib.recipe
*.dll.recipe
*.exe.recipe
*.sbr

# Ignore everything in generated folders and our solutions
/**/generated/**/*
/**/.vs/**/*
*.sln
*.vcxproj.user

# Include everything in our Tools folder
!/Tools/**

# Zlib rules
/Engine/External/zlib*/**/Tmp/*
!/Engine/External/zlib*/**/*.dll
!/Engine/External/zlib*/**/*.lib

# LibPNG rules
/Engine/External/lpng*/**/*.res
!/Engine/External/lpng*/**/*.dll
!/Engine/External/lpng*/**/*.lib
