# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lst

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore everything in generated folders and our solutions
/**/generated/**/*
/**/.vs/**/*
*.sln
*.vcxproj.user

# Include everything in our Tools folder
!/Tools/**

# Zlib rules
/Engine/External/zlib*/**/Tmp/*
/Engine/External/zlib*/**/*.pdb
!/Engine/External/zlib*/**/*.dll
!/Engine/External/zlib*/**/*.lib